<%- include('../partials/_doc_top'); %>
<head>
  <%- include('../partials/_head'); %>
  <title>Error 404 | TinyApp</title>
</head>
<body>
  <%- include('../partials/_header'); %>
  <main style="margin: 1em">
    <div class="container text-center">
      <h3>Error 404</h3>
      <p>The requested URL was not found</p>
      <a href="/urls/"><button type="button" class="btn btn-primary">Home</button></a>
    </div>
  </main>
  <%- include('../partials/_body_foot'); %>
</body>
<%- include('../partials/_doc_foot'); %>
