<%- include('../partials/_doc_top'); %>
<head>
  <%- include('../partials/_head'); %>
  <title>Error Not Found | TinyApp</title>
</head>
<body>
  <%- include('../partials/_header'); %>
  <main style="margin: 1em">
    <div class="container text-center">
      <h2>Not Found</h2>
      <p>"<%= shortID %>" was not found</p>
      <a href="/urls/"><button type="button" class="btn btn-outline-danger">Go Back</button></a>
    </div>
  </main>
  <%- include('../partials/_body_foot'); %>
</body>
<%- include('../partials/_doc_foot'); %>
