<%- include('../partials/_doc_top'); %>
<head>
  <%- include('../partials/_head'); %>
  <title>Short URL | TinyApp</title>
</head>

<body>
  <%- include('../partials/_header'); %>
  <div class="container">
    <div class="card text-center mt-4">
      <div class="card-header">
        <h3 class="card-title my-1 h2">Edit Shortlink</h3>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortID %>"><%= shortID %></a></p>
        <form class="form-inline justify-content-center" action="/urls/<%= shortID %>" method="POST">
          <div class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              name="longURL"
              value="<%= longURL %>"
              style="width: 400px; margin: 1em"
            />
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partials/_body_foot'); %>
</body>
<%- include('../partials/_doc_foot'); %>
