<%- include('../partials/_doc_top'); %>
<head>
  <%- include('../partials/_head'); %>
  <title>New URL - TinyApp Example</title>
</head>

<body>
  <%- include('../partials/_header') %>
  <div class="container">
    <div class="card text-center mt-4">
      <div class="card-header">
        <h3 class="card-title my-1 h2">Create TinyURL</h3>
      </div>
      <div class="card-body">
        <form class="form-inline justify-content-center" action="/urls" method="POST">
          <div class="form-group mb-2">
            <label for="longURL"></label>
            <input
              class="form-control form-control-lg"
              type="text"
              name="longURL"
              placeholder="http://"
              style="width: 400px; margin: 1em"
            />
            <button type="submit" class="btn btn-primary btn-lg">Shorten!</button>
            <div class="form-check form-control-lg ml-4">
              <input
                class="form-check-input form-control-lg"
                type="checkbox"
                name="public"
                value="true"
                id="publicCheck"
                checked
              />
              <label class="form-check-label form-control-lg" for="publicCheck"> Public </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../partials/_body_foot'); %>
</body>
<%- include('../partials/_doc_foot'); %>
