<%- include('../partials/_doc_top'); %>
<head>
  <%- include('../partials/_head'); %>
  <title>TinyApp</title>
</head>
<body>
  <%- include('../partials/_header'); %>
  <main style="margin: 1em">
    <%- include('../partials/_urls_user'); %>
    <%- include('../partials/_urls_public'); %>
  </main>
  <%- include('../partials/_body_foot'); %>
</body>
<%- include('../partials/_doc_foot'); %>
